h4 {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.publicaciones {
    border: 5px solid #3F9FFF;  
    box-shadow: 10px 10px 10px ; 
}

.fotos{
    margin-bottom: 20px;
}